<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team1.health.dao.BoardDAO">
	<insert id="ptBoardInsert">
		insert into board(user_id, title, content, type_num) 
		values(#{user_id}, #{title}, #{content}, 2)
	</insert>
	
	<insert id="ptGroupInsert">
		insert into PT_group(board_num, start_date, end_date, max_user, keyword) 
		values((select board_num from board where title=#{title} and user_id=#{user_id} and content=#{content}), #{start_date}, #{end_date}, #{max_user}, #{keyword})
	</insert>
	
	<select id="ptList" resultType="BoardVO">
		select b.board_num, user_id, title, hit, date_format(write_date, '%Y-%m-%d') writedate, state, start_date, end_date, max_user, keyword 
		from board b inner join PT_group p on b.board_num=p.board_num
		where type_num=2
		<if test="searchWord != null">
			and (title like '%${searchWord}%' or keyword like '%${searchWord}%' or content like '%${searchWord}%' or user_id like '%${searchWord}%')
		</if>
		order by b.board_num desc
	</select>
	<select id="ptBoardSelect" resultType="BoardVO">
		select b.user_id, b.board_num, title, keyword, state, content, start_date, end_date
		from board b 
		inner join PT_group p on b.board_num=p.board_num
		where b.board_num=#{param1}
	</select>
	<update id="hitCount">
		update board set hit = hit+1
		where board_num=${param1}
	</update>
	


</mapper>