<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.health.dao.BoardDAO">
	<insert id="boardInsert">
		insert into board(user_id, title, content)
		values(#{user_id}, #{title}, #{content})

	</insert>
	<select id="boardList" resultType="com.team1.health.vo.BoardVO">
		select board_num, user_id, title, hit, date_format(write_date,'%m-%d %H:%i') write_date
		from board
		
		<if test="searchWord != null">
		where title like '%${searchWord}%'
		</if>
		order by board_num desc limit ${onePageRecord} offset ${offsetIndex}
	</select>

	<select id="totalRecord" resultType="int">

		select count(board_num) cnt from board
		<if test="searchWord != null">
			where title like '%${searchWord}%'
		</if>
	</select>
	<select id="boardSelectByNo" resultType="com.team1.health.vo.BoardVO">
  		select board_num, user_id, title, content, date_format(write_date,'%y-%m-%d %H:%i') write_date
  		from board where board_num=${board_num}
  	</select>
	<select id="boardSelect" resultType="com.team1.health.vo.BoardVO">
		select board_num, user_id, title, content, hit, write_date
		from board where board_num=${param1}
		
	</select>
	<update id="boardUpdate">
		update board set title=#{title}, content=#{content} where board_num=${board_num} and user_id=#{user_id}
	</update>
	<delete id="boardDelete">
		delete from board where user_id=#{param1} and board_num=${param2}
	</delete>
</mapper>