<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.team1.health.dao.MemberDAO">
	<select id="loginCheck" resultType="com.team1.health.vo.MemberVO">
		select user_id, user_nickname from user
		where user_id=#{user_id} and user_pw=#{user_pw}
	</select>

	<insert id="memberInsert">
		insert into user(user_id, user_pw, user_name, tel, user_email, age, user_nickname, gender, height, weight)
		values(#{user_id}, #{user_pw}, #{user_name}, #{tel}, #{user_email}, #{age}, #{user_nickname}, #{gender}, #{height}, #{weight})
	</insert>
	<select id="checkId" resultType="String">
		select user_id from user 
		where user_id=#{param1}
	</select>
	<select id="checkNick" resultType="String">
		select user_nickname from user
		where user_nickname=#{user_nickname}
	</select>
	<select id="checkTel" resultType="String">
		select tel from user
		where tel=#{tel}
	</select>
	<select id="checkEmail" resultType="String">
		select user_email from user
		where user_email=#{user_email}
	</select>
	
	<!-- 아이디/비밀번호 찾기 -->
	<select id="findId" resultType="String">
		select * from user where user_name=#{user_name}, and tel=#{tel}
	</select>
	<select id="findPw" resultType="String">
		select * from user where user_id=#{user_id} and user_name=#{user_name} and tel=#{tel}
	</select>
	<update id="updatePw">
		update user set user_pw=#{user_pw} where user_id=#{user_id}
	</update>
</mapper>