<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team1.health.dao.RecipeDAO">
	<select id="searchIngred" resultType="com.team1.health.vo.IngredientVO">
		select gred_num, gred_kcal, gred_name, gred_type from ingredient where
		<if test="searchKey=='음식명'">
			gred_name like '%${searchValue}%'
		</if>
		<if test="searchKey=='분류'">
			gred_type like '%${searchValue}%'
		</if>
	</select>
	
	<select id="addIngred" resultType="com.team1.health.vo.IngredientVO">
		select gred_num, gred_kcal, gred_name, gred_type from ingredient where gred_num=#{param1}
	</select>
	
	<insert id="insertIngred">
		insert into recipe_ingredient(gred_num, board_num, gred_gram)
		values(#{param1}, ${param2}, ${param3})
	</insert>
	
	<select id="ingredList" resultType="com.team1.health.vo.Recipe_IngredVO">
		select i.gred_name, r.gred_gram, r.gred_num
		from ingredient i join recipe_ingredient r
		on i.gred_num = r.gred_num
		where r.board_num=0
	</select>
	
	<delete id="deleteIngred">
		delete from recipe_ingredient where gred_num=#{param1} and board_num=0
	</delete>
</mapper>