<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team1.health.dao.TrainDAO">
	<select id="train_list" resultType="com.team1.health.vo.TrainVO">
		SELECT module_num,module_img, module_title, module_content FROM module ORDER BY module_num DESC
	</select>
	<select id="mytrain_list" resultType="com.team1.health.vo.TrainVO">
		SELECT module_num,module_img, module_title, module_content FROM module WHERE module_num=#{param1}
	</select>
</mapper>