* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.container {
	transition: all 0.5s ease-in-out;
}

.box {
	/* 아래 두줄은 제이쿼리 부분에서 box에 css 주는거 없을때 필요 */
	/* float: left; width: calc(100% / 4); */
	height: 100vh;
	font-size: 100px;
	line-height: 100vh;
	text-align: center;
	/*border: 10px solid;*/
	/*box-sizing: border-box;*/
	overflow:hidden;
}
.box>img {
	width: 100vw;
	
}
.cover {
	position: absolute;
	width:100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.2);
	z-index: 10000;
	color:white;
	display: flex;
	justify-content: flex-start;
	align-items:center;
	font-family: sans-serif;
	font-size: 50px;
}
.cover>div {
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height:50px;
	box-sizing: border-box;
	padding:10px;
}
.copywriteBox {
	overflow: hidden;
	height: 500px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position:relative;
	top: -10px;
}
.copywrite-first span  {
	opacity: 0;
	padding-left: 30px;
}
/*======================첫번째 페이지================================*/
.inner1 {
	/*이동하기*/
	position:relative;
	left: 240px;
	top: 19px;
	width: 600px;
	margin: 0 auto;
	
}

/*==========================애니메이션===============================*/

/* @keyframes duration | timing-function | delay |
iteration-count | direction | fill-mode | play-state | name */

/* @keyframes duration | timing-function | delay | name */

/* @keyframes duration | name */

.fade-in-box {
  position:relative;
  display: inline-block;
  animation:fadein 2s ease-out forwards ;
  -moz-animation: fadein 2s ease-out forwards;/* Firefox */
  -webkit-animation: fadein 2s ease-out forwards; /* Safari and Chrome */
  -o-animation: fadein 2s ease-out forwards; /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
        left:-130px;
        
    }
    to {
        opacity: 1;
        left:0px;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
        left:-130px;
    }
    to {
        opacity: 1;
        left:0px;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
        left:-130px;
    }
    to {
        opacity: 1;
        left:0px;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
        left:-130px;
    }
    to {
        opacity: 1;
        left:0px;
    }
}



/*================= 두번쨰 페이지 ======================*/
.cover>ul {
	position:absolute;	
	width: 1000px;
	height: 300px;
	left: 200px;
	overflow: hidden;	
}

.cover>ul>li {
	position: relative;
	top: 180px;
	float:left; 
	height: 190px;
	line-height: 300px;
	font-size: 80px;
}

.inner2 {
	/*이동하기*/
	position:relative;
	left: 490px;
	top: 0px;
	width: 600px;
	margin: 0 auto;
	
}

.slideUp {
	animation:slideup 1s ease-in-out forwards;
	-moz-animation: slideup 1s ease-in-out forwards;/* Firefox */
  	-webkit-animation: slideup 1s ease-in-out forwards; /* Safari and Chrome */
 	-o-animation: slideUp 1s ease-in-out forwards; /* Opera */ 
}
@keyframes slideup {
    0% {
        top:180px;
        
    }
    
    50% {
    	top: 100px;
    }
    
    100% {
        top: 113px;
    }
}
@-moz-keyframes slideup { /* Firefox */
    0% {
        top:180px;
        
    }
    
    50% {
    	top: 90px;
    }
    
    100% {
        top: 113px;
    }
}
@-webkit-keyframes slideup { /* Safari and Chrome */
    0% {
        top:180px;
        
    }
    
    50% {
    	top: 90px;
    }
    
    100% {
        top: 113px;
    }
}
@-o-keyframes slideup { /* Opera */
    0% {
        top:180px;
        
    }
    
    50% {
    	top: 90px;
    }
    
    100% {
        top: 113px;
    }
}

/*=================세번째 페이지=====================*/
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
.copywrite-third {
	font-family: 'Spartan', sans-serif;
	color: white;
	margin: 80px 0 0 80px;
	font-size: 64px;
	width: max-content;
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 20vw;
	top:  -5vh;
}

.copywrite-third>div {
	overflow: hidden;
}

.copywrite-third>div>p {
	width: max-content;
	white-space: nowrap;
	margin: 0;
	line-height: 117%;
}

.slide-up {
	animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes slide-up {
	0% {
         transform: translateY(100px);
    }

    100% {
          transform: translateY(0);
    }
}


/*============================서클형 버튼======================================*/



.activity {
	padding: 0;
	margin: 2em 0;
	list-style: none;
}

/*안쪽 원*/
.activity li:before {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
	border-radius: 50%;
	border-style: solid;
	border-width: 4px;
	bottom: 0;
	box-shadow: 0 0 0 1px #fff;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}


.activity li {
	-webkit-transition: box-shadow 0.2s ease;
	-moz-transition: box-shadow 0.2s ease;
	transition: box-shadow 0.2s ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 50%;
	border-style:solid;
	border-width:3px;
	display: inline-block;
	font-size: 0.889em;
	margin: 0 1em 1em;
	position: relative;
	text-align: center;
	text-transform: lowercase;
	/*크기*/
	width: 4em;
	height: 4em;
	line-height: 4em;
	display:flex;
	justify-content: center;
}

.activity li a {
	position:relative;
	left: 0px;
	top: -5px;
	align-self: center;
}

.activity li:hover {
	box-shadow: 0 0 0 7px #fff;
}

.activity li:hover:before {
	-webkit-transform: scale(0.925);
	-moz-transform: scale(0.925);
	-ms-transform: scale(0.925);
	-o-transform: scale(0.925);
	transform: scale(0.925);
	box-shadow: 0 0 0 1px #fff;
	opacity: 0.5;
}



.activity li:active {
	-webkit-transform: scale(0.925);
	-moz-transform: scale(0.925);
	-ms-transform: scale(0.925);
	-o-transform: scale(0.925);
	transform: scale(0.925);
	box-shadow: 0 0 0 1px #fff;
	opacity: 0.5;
}


/*================================ 애니메이션 딜레이 ===============================*/
.dFirst {
	animation-delay:1s;
	-moz-animation-delay:1s;
	-webkit-animation-delay:1s;
	-o-animation-delay:1s
}

.dSecond {
	animation-delay:2s;
	-moz-animation-delay:2s;
	-webkit-animation-delay:2s;
	-o-animation-delay:2s
}

.dThird {
	animation-delay:3s;
	-moz-animation-delay:3s;
	-webkit-animation-delay:3s;
	-o-animation-delay:3s
}

