* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.container {
	transition: all 0.5s ease-in-out;
}

.box {
	/* 아래 두줄은 제이쿼리 부분에서 box에 css 주는거 없을때 필요 */
	/* float: left; width: calc(100% / 4); */
	height: 100vh;
	font-size: 100px;
	line-height: 100vh;
	text-align: center;
	/*border: 10px solid;*/
	/*box-sizing: border-box;*/
	overflow:hidden;
}
.box>img {
	width: 100vw;
	
}
.cover {
	position: absolute;
	width:100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.2);
	z-index: 10000;
	color:white;
	display: flex;
	justify-content: flex-start;
	align-items:center;
	font-family: sans-serif;
	font-size: 50px;
}
.cover>div {
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height:50px;
	box-sizing: border-box;
	padding:10px;
}
.copywriteBox {
	overflow: hidden;
	height: 500px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position:relative;
	top: -10px;
}
.copywrite-first span  {
	opacity: 0;
	padding-left: 30px;
}
/*======================첫번째 페이지================================*/


/*==========================애니메이션===============================*/

/* @keyframes duration | timing-function | delay |
iteration-count | direction | fill-mode | play-state | name */

/* @keyframes duration | timing-function | delay | name */

/* @keyframes duration | name */

.fade-in-box {
  position:relative;
  display: inline-block;
  animation:fadein 2s ease-out forwards ;
  -moz-animation: fadein 2s ease-out forwards;/* Firefox */
  -webkit-animation: fadein 2s ease-out forwards; /* Safari and Chrome */
  -o-animation: fadein 2s ease-out forwards; /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
        left:-130px;
        
    }
    to {
        opacity: 1;
        left:0px;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
        left:-130px;
    }
    to {
        opacity: 1;
        left:0px;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
        left:-130px;
    }
    to {
        opacity: 1;
        left:0px;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
        left:-130px;
    }
    to {
        opacity: 1;
        left:0px;
    }
}



/*================= 두번쨰 페이지 ======================*/
.cover>ul {
	position:absolute;	
	width: 1000px;
	height: 300px;
	left: 200px;
	overflow: hidden;	
}

.cover>ul>li {
	position: relative;
	top: 180px;
	float:left; 
	height: 190px;
	line-height: 300px;
	font-size: 80px;
}

.slideUp {
	animation:slideup 1s ease-in-out forwards;
	-moz-animation: slideup 1s ease-in-out forwards;/* Firefox */
  	-webkit-animation: slideup 1s ease-in-out forwards; /* Safari and Chrome */
 	-o-animation: slideUp 1s ease-in-out forwards; /* Opera */ 
}
@keyframes slideup {
    0% {
        top:180px;
        
    }
    
    50% {
    	top: 100px;
    }
    
    100% {
        top: 113px;
    }
}
@-moz-keyframes slideup { /* Firefox */
    0% {
        top:180px;
        
    }
    
    50% {
    	top: 90px;
    }
    
    100% {
        top: 113px;
    }
}
@-webkit-keyframes slideup { /* Safari and Chrome */
    0% {
        top:180px;
        
    }
    
    50% {
    	top: 90px;
    }
    
    100% {
        top: 113px;
    }
}
@-o-keyframes slideup { /* Opera */
    0% {
        top:180px;
        
    }
    
    50% {
    	top: 90px;
    }
    
    100% {
        top: 113px;
    }
}

/*=================세번째 페이지=====================*/
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
.copywrite-third {
	font-family: 'Spartan', sans-serif;
	color: white;
	margin: 80px 0 0 80px;
	font-size: 64px;
	width: max-content;
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 20vw;
	top:  -5vh;
}

.copywrite-third>div {
	overflow: hidden;
}

.copywrite-third>div>p {
	width: max-content;
	white-space: nowrap;
	margin: 0;
	line-height: 117%;
}

.slide-up {
	animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes slide-up {
	0% {
         transform: translateY(100px);
    }

    100% {
          transform: translateY(0);
    }
}


/*.btn1-box {
	transform:translate(47vw, 3vh);
	max-height:12vw;
	max-height: 7vh;
	padding:0px !important;
}*/

/* 5 */
/*.btn-5 {
	width: 12vw;
	height: 7vh;
	line-height: 7vh;
	padding: 0;
	margin:0 !important;
	border: none;
	background: rgb(255, 27, 0);
	background: linear-gradient(0deg, rgba(255, 27, 0, 1) 0%,
		rgba(251, 75, 2, 1) 100%);
	font-size:25px;
	color:white;
	border-radius: 10%;
	transition: all 300ms ease-out;
	
}

.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f0094a;
  box-shadow:
   0px 0px 1px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

.btn-5:hover {
  color: #f0094a;
  background: transparent;
   box-shadow:none;
   font-size: 35px;
}

.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}
.btn-5:active {
	transform:scale(0.9);
		
}
.btn-5:active:before, .btn-5:active:after {
	width:100%;
  	transition:800ms ease all;
}*/

/*===================== 네번째 페이지 ===========================*/

@import url(https://fonts.googleapis.com/css?family=Hind:700);

.copywrite-fourth {
	font-family: 'Hind', sans-serif;
	position: relative;
	left: 2vw;
}
.blur-animation {
	color: transparent;
	animation: blur 5s ease-out forwards;
	-webkit-animation: blur 5s ease-out forwards;
}

.copywrite-fourth>span:nth-child(1) {
	animation-delay: 0.1s;
	-webkit-animation-delay: 0.1s;
}
.copywrite-fourth>span:nth-child(2) {
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}
.copywrite-fourth>span:nth-child(3) {
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}
.copywrite-fourth>span:nth-child(4) {
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}
.copywrite-fourth>span:nth-child(5) {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
.copywrite-fourth>span:nth-child(6) {
	animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
}
.copywrite-fourth>span:nth-child(7) {
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
}

@keyframes blur {
	0%		{text-shadow:  0 0 100px #fff; opacity:0;}
	20%		{text-shadow:  0 0 90px #fff;}
	30%		{opacity: 1;}
	40%		{text-shadow:  0 0 0px #fff;}
	100%	{text-shadow:  0 0 0px #fff;}
}

@-webkit-keyframes blur {
	0%		{text-shadow:  0 0 100px #fff; opacity:0;}
	20%		{text-shadow:  0 0 90px #fff;}
	30%		{opacity: 1;}
	40%		{text-shadow:  0 0 0px #fff;}
	100%	{text-shadow:  0 0 0px #fff;}
}
/*== 버튼 ===*/
.btn-container {
	height: 30vh;
	line-height:25vh;
	
}

.form-move-1 {
	transform:translate(45vw, 1.8vh);
}

.form-move-2 {
	transform:translate(74vw, 0vh);
}

.form-move-3 {
	transform:translate(44vw, 2vh);
}

.form-move-4 {
	transform:translate(25vw, 2.3vh);
}

.blob-btn {
    z-index: 1;
    position: relative;
    padding: 20px 46px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #f0094a;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.5s;
    cursor: pointer;
    border-radius: 30px;
    box-sizing: border-box;
    
  }
  .blob-btn:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	border-style:none;
    border-radius: 30px;
    box-sizing: border-box;
  }
  .blob-btn:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: 3px;
    top: 3px;
    width: 100%;
    height: 100%;
    transition: all 0.3s 0.2s;
    border-radius: 30px;
    box-sizing: border-box;
  }
  .blob-btn:hover {
    color: #FFFFFF;
    border-radius: 30px;
  }
  .blob-btn:hover:after {
    transition: all 0.3s;
    left: 0;
    top: 0;
    border-radius: 30px;
  }
  
  .blob-btn:active {
    color: #FFFFFF;
    border-radius: 30px;
    transform:scale(0.95);
  }

  
  
  .blob-btn__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: #ffffff;
  }
  .blob-btn__blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url('#goo');
  }
  .blob-btn__blob {
    position: absolute;
    top: 2px;
    width: 25%;
    height: 100%;
    background: #f0094a;
    border-radius: 100%;
    transform: translate3d(0, 150%, 0) scale(1.7);
    transition: transform 0.45s;
  }
  @supports (filter: url('#goo')) {
    .blob-btn__blob {
      transform: translate3d(0, 150%, 0) scale(1.4);
    }
  }
  .blob-btn__blob:nth-child(1) {
    left: 0%;
    transition-delay: 0s;
  }
  .blob-btn__blob:nth-child(2) {
    left: 30%;
    transition-delay: 0.08s;
  }
  .blob-btn__blob:nth-child(3) {
    left: 60%;
    transition-delay: 0.16s;
  }
  .blob-btn__blob:nth-child(4) {
    left: 90%;
    transition-delay: 0.24s;
  }
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.7);
  }
  @supports (filter: url('#goo')) {
    .blob-btn:hover .blob-btn__blob {
      transform: translateZ(0) scale(1.4);
    }
  }

/*============================서클형 버튼======================================*/


/*
.activity {
	padding: 0;
	margin: 2em 0;
	list-style: none;
}*/

/*안쪽 원*/
/*.activity li:before {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
	border-radius: 50%;
	border-style: solid;
	border-width: 4px;
	bottom: 0;
	box-shadow: 0 0 0 1px #fff;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}


.activity li {
	-webkit-transition: box-shadow 0.2s ease;
	-moz-transition: box-shadow 0.2s ease;
	transition: box-shadow 0.2s ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 50%;
	border-style:solid;
	border-width:3px;
	display: inline-block;
	font-size: 0.889em;
	margin: 0 1em 1em;
	position: relative;
	text-align: center;
	text-transform: lowercase; 
	*/
	/*크기*/
/*	width: 4em;
	height: 4em;
	line-height: 4em;
	display:flex;
	justify-content: center;
}

.activity li a {
	position:relative;
	left: 0px;
	top: -5px;
	align-self: center;
	color:white;
}

.activity li:hover {
	color:white !important;
	box-shadow: 0 0 0 7px #fff;
}

.activity li:hover:before {
	-webkit-transform: scale(0.925);
	-moz-transform: scale(0.925);
	-ms-transform: scale(0.925);
	-o-transform: scale(0.925);
	transform: scale(0.925);
	box-shadow: 0 0 0 1px #fff;
	opacity: 0.5;
}



.activity li:active {
	-webkit-transform: scale(0.925);
	-moz-transform: scale(0.925);
	-ms-transform: scale(0.925);
	-o-transform: scale(0.925);
	transform: scale(0.925);
	box-shadow: 0 0 0 1px #fff;
	opacity: 0.5;
}
*/

/*================================ 애니메이션 딜레이 ===============================*/

.dFirst {
	animation-delay:1s;
	-moz-animation-delay:1s;
	-webkit-animation-delay:1s;
	-o-animation-delay:1s
}

.dSecond {
	animation-delay:2s;
	-moz-animation-delay:2s;
	-webkit-animation-delay:2s;
	-o-animation-delay:2s
}

.dThird {
	animation-delay:3s;
	-moz-animation-delay:3s;
	-webkit-animation-delay:3s;
	-o-animation-delay:3s
}

