a {
	text-decoration: none;
	color:rgb(50,50,50);
}

body {
	margin: 0;
	padding:0;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.top {
	display: flex;
	justify-content: space-between;
	color: rgb(50,50,50);
	align-items: center;
	height: 9vh;
	border-bottom: 1px solid #ddd;
	background-color: white; 
	z-index:10000000;
}
.top>ul  {
	display: flex;
	align-items: center;
}
.logo-container {
	margin-left:1vw;
	background: blue;
}
.logo-container>li {
	text-align: center;
}
/*===== menu-container=====*/
.menu-container {
	display: flex;
	justify-content:space-around;
	align-items: center;
	width:65%;
	height:100%;
}
.menu-container>li {
	display:flex;
	justify-content:center;
	align-items:center;
	height: 100%;
}
.menu-container a  {
	position: relative;
	padding-bottom: 8px;
}
.menu-container a:before {
	content:'';
	position: absolute;
	background-color:crimson;
	height: 3px;
	
	width:0;
	bottom:0;
	transition: 0.5s;
	
	left: 50%;
	transform: translateX(-50%);	
}
.menu-container a:hover:before {
	width: 100%;
}


/*====== login-container=======*/

.login-container {
	align-items:center;
	margin-right:1vw;
}
.login-container>li:last-of-type {
	margin-left:0.5vw;
}
.profile-container {
	border:2px solid rgb(5,5,5);
	margin-top:0.6vh;
	width: 5vh;
	height: 5vh;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bi-person-fill {
	transform:scale(1.6);
	transform-origin: 50% 50%;
}

.dropdown-content1 {
	/*肄섑뀗痢� �젙�젹*/
	display:flex;
	justify-content:center;
	align-items:center;
	
	/*諛뺤뒪 �꽕�젙*/
	overflow: hidden;
	box-sizing:border-box;
	border-radius: 5%;
	border: 1px solid rgba(5,5,5, 0.2);
	box-shadow: 0px 0px 5px 0px rgba(5, 5, 5, 0.1);
	background-color: white;
	width: 7.5vw;
	padding-top: 15px;
	padding-bottom: 15px;
	
	/*�븷�땲硫붿씠�뀡 �슚怨쇱꽕�젙*/
	opacity:0;
	transform:scale(0);
	transform-origin: 100% 0;
	transition-property:transform, opacity;
	transition-duration:300ms;
	position:absolute;
	transition-timing-function:ease;
	z-index:100000000;
		
}
.display-show {
	opacity:1;
	transform:scale(1);	
}
.logStatus {
	display:none;
}
.gnb {
	width:100%;
	text-align: center;
	margin-top:1vh;
	margin-bottom:1vh;
}
.gnb li {
	position: relative;
	width:100%;
	cursor:pointer;
	color: rgb(10,10,10);
	font-size:16px;	
	/*�뀓�뒪�듃�뿉�꽌 諛묒쨪 媛꾧꺽 �쓣�슦湲�*/
	padding-bottom: 6px;
	margin-bottom: 4px;	
}

.gnb li:last-of-type {
	position: relative;
	width:100%;
	cursor:pointer;
	color: rgb(10,10,10);
	font-size:16px;	
	/*�뀓�뒪�듃�뿉�꽌 諛묒쨪 媛꾧꺽 �쓣�슦湲�*/
	padding-bottom: 6px;
	margin-bottom: 0;
	
}

.gnb li:before {
	content:"";
	position: absolute; /*遺�紐� �슂�냼�뿉�뒗 position: relative瑜� 二쇱뼱�빞 �븳�떎.*/
	background-color: crimson;
	height: 0.35vh; /*諛묒쨪 援닿린*/
	
	width: 0; /*珥덇린�뿉 蹂댁씠吏� �븡�룄濡�*/
	bottom: 0; /*a�깭洹� �븘�옒�뿉 �쐞移� �떆�궎湲�*/
	transition: 0.5s; /*�븷�땲硫붿씠�뀡 �룞�옉 �떎�뻾 �떆媛� �젙�쓽*/
	/*媛��긽 �슂�냼瑜� 媛��슫�뜲濡� �씠�룞�떆�궎湲�*/
	left:50%;
	transform:translateX(-50%);
}

/*�깭洹멸� �샇踰꾨쭅 �릺硫� 媛��긽 �슂�냼�쓽 �겕湲곕�� 100%濡� �궎�슦湲�*/
.gnb li:hover:before {
	width:65%;
}