@charset "UTF-8";
a {
	text-decoration: none;
	color:white;
}

body {
	font-family: sans-serif;
}

header {
	position: absolute;
	left:0;
	top:0;
	width: 100vw;
	height: 6vh;
	/*background-color: rgba(0,0,0,0.4);*/
	z-index: 9999999;
	font-size: 17px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header a {
	padding-left: 10px;
	padding-right: 10px;
}
header a:first-of-type {
	padding-left: 30px;
}
header a:last-of-type {
	padding-right: 30px;
}
@font-face{
	src:url("/font/Binggrae-Bold.ttf");
 	font-family : "Binggrae";
}
@font-face{
	src:url("/font/BMEULJIROTTF.ttf");
 	font-family : "Bemin";
}
@font-face{
 	src:url("/font/Binggrae.ttf");
 	font-family : "BinggraeReguler";
}

